div.lf_single_dot_container{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: transparent !important;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute !important;
    left: 0px;
    top: 0px;
}
.dots-container{
    position: relative;
}
.lf_single_dot_container{
    position: absolute !important;
    left: 0px;
    top: 0px;
}
.lf_single_dot_container:after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
}
.caption_text{
    position: absolute;
    color: white;
    min-width: 200px;
    top: 50%;
    left: 50%;
    z-index: 2;
    padding: 5px;
}
    div.caption_text p{
        margin: .25em 0;
    }
#preview_image{
    width: 100% !important;
}
.dots-container .caption_text{
    display: none;
}
div.lf_single_dot_container .pulsating-circle{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto auto;
    top: 0;
    bottom: 0;
    -webkit-transition: width .4s ease, height .4s ease, opacity .4s;
    -moz-transition: width .4s ease, height .4s ease, opacity .4s;
    -ms-transition: width .4s ease, height .4s ease, opacity .4s;
    -o-transition: width .4s ease, height .4s ease, opacity .4s;
    transition: width .4s ease, height .4s ease, opacity .4s;
    border-radius: 50%;
    opacity: 0.0;
}
div.lf_single_dot_container.changing_dot .pulsating-circle {
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: pulsate 1s ease-out;
    -moz-animation-iteration-count: infinite;
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
}
.relative-elem{
    position: relative;
}
.full-size{
    width: 100%;
    height: 100%;
}
@-webkit-keyframes pulsate {
    0% {
        -webkit-transform: scale(1, 1); opacity: 0.0;
    }
    50% {opacity: 1.0;}
    100% {
        -webkit-transform: scale(1.6, 1.6); opacity: 0.0;
    }
}
@keyframes pulsate {
    0% {
        -webkit-transform: scale(1, 1); opacity: 0.0;
    }
    50% {opacity: 1.0;}
    100% {
        transform: scale(1.6, 1.6); opacity: 0.0;
    }
}
/* Responsive */
@media screen and (max-width: 1024px) {
    .lf_single_dot_container{
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
        transform: scale(0.9);
    }
}
@media screen and (max-width: 768px) {
    .lf_single_dot_container{
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
        transform: scale(0.8);
    }
}
@media screen and (max-width: 460px) {
    div.caption_text p{
        font-size: 10px;
    }
    .lf_single_dot_container{
        -webkit-transform: scale(0.7);
        -moz-transform: scale(0.7);
        -ms-transform: scale(0.7);
        -o-transform: scale(0.7);
        transform: scale(0.7);
    }
}


